<div class="is-section is-section-100 is-light-text is-box type-voltaire-sourcecodepro is-content-top">
	<div class="is-overlay">
		<div class="is-overlay-bg" style="background-image: url(&quot;assets/designs/images/6bFIa218442.jpg&quot;); transform: translateY(-36.6454px) scale(1.05);" data-bottom-top="transform:translateY(-120px) scale(1.05);" data-top-bottom="transform:translateY(120px) scale(1.05)"></div>
		<div class="is-overlay-color" style="display: block; background-color: rgb(0, 0, 0); opacity: 0.25;"></div>
	</div>
	<div class="is-boxes">
		<div class="is-box-centered is-opacity-90 is-content-top">
			<div class="is-container container is-content-800">
				<div class="row clearfix" draggable="false" style="transform: translateZ(0px);"><div class="center column full">
						<div class="display">
							<h1 class="size-60">Sign-up now,<br>EARN your reward.</h1>
							<p class="size-24">[THIS IS WHERE YOU GIVE A SHORT PITCH ABOUT YOUR REFERRAL OFFERING.]<br><span style="font-size: 1.2rem;"><br>[Full Name]</span><br>[Email Address]<br>[Phone Number]<br><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">submit</a></p>
						</div>
					</div></div>

			</div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-shadow-1 is-bg-grey">
	<div class="is-boxes">
		<div class="is-box is-box-5 is-dark-text is-bg-light">
			<div class="is-overlay">
				<div class="is-overlay-content"></div>
			</div>
			<div class="is-boxes" style="min-height:auto">
				<div class="is-box-centered">
					<div class="is-container is-content-500 container" nogrid="" style="margin-bottom:0;">
						<div class="row clearfix">
							<div class="column full">
								<div style="position: relative;height: 30vw;">
									<div style="position: absolute;z-index: 100;width: 26vw;left: -23vw;top: -10vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/products-14-EcY621.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateX(-200px); opacity: 0;" data-bottom-top="transform:translateX(-200px);opacity:0;" data-center="transform:translateX(0px);opacity:1;" class="">
									</div>
									<div style="position: absolute;z-index: 70;width: 26vw;left: 6vw;top: -3vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/partners-09-Ou4041.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateY(-120px); opacity: 0;" data-bottom-top="transform:translateY(-120px);opacity:0;" data-center="transform:translateY(0px);opacity:1;" class="">
									</div>
									<div style="position: absolute;z-index: 50;width: 26vw;left: -7vw;top: 5vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/header-24-PYTFr1.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateX(150px); opacity: 0;" data-bottom-top="transform:translateX(150px);opacity:0;" data-center-top="transform:translateX(0px);opacity:1;" class="">
									</div>
									<div style="position: absolute;z-index: 0;width: 26vw;left: -20vw;top: 13vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/header-57-zv5Rh2.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateY(100px); opacity: 0;" data-bottom-top="transform:translateY(100px);opacity:0;" data--100-bottom="transform:translateY(0px);opacity:1;" class="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="is-box is-box-7 is-dark-text is-bg-light type-lato">
			<div class="is-boxes">
				<div class="is-box-centered">
					<div class="is-container container" style="max-width: 620px;">
						<div class="row clearfix">
							<div class="column full center">
								<h1 class="size-50" style="letter-spacing: 1px; font-weight: bold;">Request Demo<br></h1>
							</div>
						</div>
						<div class="row clearfix">
							<div class="column full"><p style="text-align: center;">[This is where you give a short pitch about your referral offering.]<br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]</p><p style="text-align: center;"><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">Submit</a></p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-box is-dark-text is-align-right type-nothingyouc-ibmplexmono">
	<div class="is-overlay">

	<div class="is-overlay-bg" style="background-image: url(&quot;assets/designs/images/HpA14231710.jpg&quot;); transform: translateY(-120px) scale(1.05); background-position: 50% 80%;" data-bottom-top="transform:translateY(-120px) scale(1.05)" data-top-bottom="transform:translateY(120px) scale(1.05)"><div class="is-overlay-color" style="opacity: 0.6; display: block; background-color: rgb(255, 255, 255);"></div></div></div>
	<div class="is-boxes">
		<div class="is-box-centered is-opacity-95">
			<div class="is-container container is-content-right" style="max-width: 580px;">
				<div class="row clearfix" draggable="false">
					<div class="column full">
						<div class="display">
							<h1 class="size-60">Contact Me</h1>
							<p class="size-18">[This is where you give a short pitch about your offering.]<br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]<br></p><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;" draggable="false">SUBMIT</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-box is-dark-text is-align-right type-ptserif-poppins is-bg-grey">
	<div class="is-overlay">
		<div class="is-overlay-bg" style="background-image: url(&quot;assets/designs/images/izZZ93352.jpg&quot;); transform: translateY(-120px) scale(1.05);" data-bottom-top="transform:translateY(-120px) scale(1.05);" data-top-bottom="transform:translateY(120px) scale(1.05)"><div class="is-overlay-color" style="opacity: 0.5; display: block; background-color: rgb(255, 255, 255);"></div></div>
	</div>
	<div class="is-boxes">
		<div class="is-box-centered">
			<div class="is-container container is-content-right" style="max-width: 580px;">
				<div class="row clearfix"><div class="column full"><div class="display" style="background: rgba(229, 229, 229, 0.8); text-align: right;">
							<h1 class="size-54" style="font-family: Lato, sans-serif;"><span style="font-family: Merriweather, serif;">Request Demo</span></h1>
							<p class="size-18">[This is where you give a short pitch about your referral offering.]<br><br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]<br></p><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">SUBMIT</a>
						</div></div></div>

			<link href="//fonts.googleapis.com/css?family=Merriweather:300,700" rel="stylesheet" property="stylesheet" type="text/css"></div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-shadow-1">
	<div class="is-boxes">
		<div class="is-box is-light-text is-box-7" style="background-image: linear-gradient(0deg, #efefef, #fcfcfc);">
			<div class="is-overlay">
				<div class="is-overlay-content"></div>
			</div>
			<div class="is-boxes">
				<div class="is-box-centered">
					<div class="is-container is-content-500 container edge-x-0" nogrid="">
						<div class="row clearfix">
							<div class="column full">
								<div style="position: relative;height: 25vw;">
									<div style="position: absolute;z-index: 50;width: 36vw;left: -21vw;top: -21vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/screencapture-13.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateY(-150px);" data-bottom-top="transform:translateY(-150px);" data-center-top="transform:translateY(0px);" class="">
									</div>
									<div style="position: absolute;z-index: 100;width: 18vw;left: -1.5vw;top: 3vw;transform: rotateX(-60deg) rotateZ(40deg);">
										<img alt="" src="assets/designs/images/screencapture-12.jpg" style="box-shadow: rgba(22, 22, 22, 0.4) 3em 3em 5em; width: 100%; transform: translateY(100px);" data-bottom-top="transform:translateY(100px);" data-center-top="transform:translateY(0px);" class="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="is-box type-heebo-ibmplexmono is-dark-text is-box-5" style="background-image: linear-gradient(0deg, #efefef, #fcfcfc)">
			<div class="is-boxes">
				<div class="is-box-centered">
					<div class="is-container container is-content-left edge-x-0" style="max-width: 600px;">
						<div class="row clearfix">
							<div class="column full">
								<p class="size-18">GET STARTED IN MINUTES</p>
								<h1 class="size-60">Sign-up, and earn your reward.</h1>
								<p class="size-16"><br>[This is where you give a short pitch about your offering.]<br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]<br></p><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">SUBMIT</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-light-text is-box is-bg-grey">
	<div class="is-overlay">
		<div class="is-overlay-bg" style="background-image: url(&quot;assets/designs/images/sample1.jpg&quot;); transform: translateY(-120px) scale(1.05);" data-bottom-top="transform:translateY(-120px) scale(1.05);" data-top-bottom="transform:translateY(120px) scale(1.05)"></div>
		<div class="is-overlay-color"></div>
		<div class="is-overlay-content"></div>
	</div>
	<div class="is-boxes">
		<div class="is-box-centered is-opacity-95">
			<div class="is-container container is-content-800">
				<div class="row clearfix">
					<div class="column full">
						<div class="display" style="text-align: center;">
							<h1 style="text-align: center;">Sign-up Now, <br>earn your reward.</h1>
							<p style="text-align: center;">[This is where you give a short pitch about your offering.]<br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]</p><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">Submit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="is-section is-section-100 is-box is-bg-grey is-dark-text">
	<div class="is-overlay">
		<div class="is-overlay-content" data-module="code" data-module-desc="Custom HTML or Javascript " data-html="%3C!--%20EXAMPLE%3A%20Typed%20Animation%20--%3E%0A%0A%3Cdiv%20style%3D%22display%3Atable%3Bwidth%3A100%25%3Bheight%3A100%25%3Bbackground%3Alinear-gradient(25deg%2C%23b1301c%2C%23fdecb0)%22%3E%0A%3Cdiv%20class%3D%22display%22%20style%3D%22display%3A%20table-cell%3Bvertical-align%3A%20middle%3Btext-align%3A%20center%3Bpadding%3A%200%2020px%22%3E%0A%0A%3Ch1%20style%3D%22color%3Argba(255%2C255%2C255%2C0.8)%22%3ESign-up%20now%2C%20and%20%3Cspan%20id%3D%22CKDedxz%22%20style%3D%22color%3Argba(255%2C255%2C255%2C0.8)%22%3E%3C%2Fspan%3E%3C%2Fh1%3E%0A%0A%20%20%3Cp%20style%3D%22text-align%3A%20center%3B%22%20class%3D%22%22%3E%5BThis%20is%20where%20you%20give%20a%20short%20pitch%20about%20your%20offering.%5D%3Cbr%3E%5BFULL%20NAME%5D%3Cbr%3E%5BEMAIL%20ADDRESS%5D%3Cbr%3E%5BPHONE%20NUMBER%5D%3C%2Fp%3E%3Ca%20href%3D%22%23%22%20style%3D%22display%3Ainline-block%3Btext-decoration%3Anone%3Btransition%3A%20all%200.16s%20ease%3Bborder-style%3Asolid%3Bcursor%3Apointer%3Bbackground-color%3A%20rgb(220%2C%20220%2C%20220)%3B%20color%3A%20rgb(0%2C%200%2C%200)%3B%20border-color%3A%20rgb(220%2C%20220%2C%20220)%3B%20border-width%3A%202px%3B%20border-radius%3A%200px%3B%20padding%3A%2013px%2028px%3B%20line-height%3A%201.5%3B%20text-transform%3A%20uppercase%3B%20font-weight%3A%20400%3B%20font-size%3A%2014px%3B%20letter-spacing%3A%203px%3B%22%3ESubmit%3C%2Fa%3E%0A%0A%3C%2Fdiv%3E%0A%3C%2Fdiv%3E%0A%0A%3Cscript%3E%0AloadScript(%22https%3A%2F%2Fcdnjs.cloudflare.com%2Fajax%2Flibs%2Ftyped.js%2F1.1.1%2Ftyped.min.js%22%2C%0A%20%20%20%20function()%7B%0A%20%20%20%20%20%20%24(%22%23CKDedxz%22).typed(%7B%0A%20%20%20%20%20%20%20%20strings%3A%20%5B%22earn%20rewards.%22%2C%20%22get%20connected.%22%2C%20%22find%20joy.%22%5D%2C%0A%20%20%20%20%20%20%20%20typeSpeed%3A%200.8%2C%0A%20%20%20%20%20%20%20%20loop%3A%20true%2C%0A%20%20%20%20%20%20%20%20backDelay%3A%201000%0A%20%20%20%20%20%20%7D)%3B%0A%20%20%7D)%3B%0A%0Afunction%20loadScript(url%2C%20callback)%20%7B%0A%0A%20%20%20%20var%20script%20%3D%20document.createElement(%22script%22)%0A%20%20%20%20script.type%20%3D%20%22text%2Fjavascript%22%3B%0A%0A%20%20%20%20if%20(script.readyState)%20%7B%20%20%2F%2FIE%0A%20%20%20%20%20%20%20%20script.onreadystatechange%20%3D%20function%20()%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20if%20(script.readyState%20%3D%3D%20%22loaded%22%20%7C%7C%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20script.readyState%20%3D%3D%20%22complete%22)%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20script.onreadystatechange%20%3D%20null%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20callback()%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%7D%3B%0A%20%20%20%20%7D%20else%20%7B%20%20%2F%2FOthers%0A%20%20%20%20%20%20%20%20script.onload%20%3D%20function%20()%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20callback()%3B%0A%20%20%20%20%20%20%20%20%7D%3B%0A%20%20%20%20%7D%0A%0A%20%20%20%20script.src%20%3D%20url%3B%0A%20%20%20%20document.body.appendChild(script)%3B%0A%7D%0A%3C%2Fscript%3E%0A%0A%3Cstyle%20scoped%3E%0A.typed-cursor%7B%0A%20%20%20%20color%3Argba(255%2C255%2C255%2C0.8)%20!important%3B%0A%20%20%20%20opacity%3A%201%3B%0A%20%20%20%20-webkit-animation%3A%20blink%200.7s%20infinite%3B%0A%20%20%20%20-moz-animation%3A%20blink%200.7s%20infinite%3B%0A%20%20%20%20animation%3A%20blink%200.7s%20infinite%3B%0A%7D%0A%40keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%40-webkit-keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%40-moz-keyframes%20blink%7B%0A%20%20%20%200%25%20%7B%20opacity%3A1%3B%20%7D%0A%20%20%20%2050%25%20%7B%20opacity%3A0%3B%20%7D%0A%20%20%20%20100%25%20%7B%20opacity%3A1%3B%20%7D%0A%7D%0A%3C%2Fstyle%3E%0A%0A"><!-- EXAMPLE: Typed Animation -->

<div style="display:table;width:100%;height:100%;background:linear-gradient(25deg,#b1301c,#fdecb0)">
<div class="display" style="display: table-cell;vertical-align: middle;text-align: center;padding: 0 20px">

<h1 style="color:rgba(255,255,255,0.8)">Sign-up now, and <span id="CKDedxz" style="color:rgba(255,255,255,0.8)"></span></h1>

  <p style="text-align: center;" class="">[This is where you give a short pitch about your offering.]<br>[FULL NAME]<br>[EMAIL ADDRESS]<br>[PHONE NUMBER]</p><a href="#" style="display:inline-block;text-decoration:none;transition: all 0.16s ease;border-style:solid;cursor:pointer;background-color: rgb(220, 220, 220); color: rgb(0, 0, 0); border-color: rgb(220, 220, 220); border-width: 2px; border-radius: 0px; padding: 13px 28px; line-height: 1.5; text-transform: uppercase; font-weight: 400; font-size: 14px; letter-spacing: 3px;">Submit</a>

</div>
</div>

<script>
loadScript("https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js",
    function(){
      $("#CKDedxz").typed({
        strings: ["earn rewards.", "get connected.", "find joy."],
        typeSpeed: 0.8,
        loop: true,
        backDelay: 1000
      });
  });

function loadScript(url, callback) {

    var script = document.createElement("script")
    script.type = "text/javascript";

    if (script.readyState) {  //IE
        script.onreadystatechange = function () {
            if (script.readyState == "loaded" ||
                    script.readyState == "complete") {
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {  //Others
        script.onload = function () {
            callback();
        };
    }

    script.src = url;
    document.body.appendChild(script);
}
</script>

<style scoped="">
.typed-cursor{
    color:rgba(255,255,255,0.8) !important;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
</style>

</div>
	</div>
</div>
